\section*{Professional Experience}
\begin{tabular}{r| p{0.48\textwidth} c}
{% for job in main %}
\cvevent{ {{ job.dates }} }{ {{ job.company }} }{ {{ job.role }} }{ {{ job.location }} }{
\begin{itemize}
{% for bullet in job.bullets %}
    \item {{ bullet }}
{% endfor %}
\end{itemize}}{ {{ job.image }} } \\
{% endfor %}
\end{tabular}
